

.action{
  color: red;
}

/* borderBottom={"0.5px solid"}  transitionDelay={".2s"} position={myState?"sticky":"relative"} top={"0px"} zIndex={"100"} w={"100%"} style={myState?{ boxShadow:" rgba(0, 0, 0, 0.24) 0px 3px 8px"}:null} */

header{
  position: absolute;
  background: transparent;
  width: 100%;
  z-index: 100000;
  border-bottom: 1px solid;
  
  
  
  }
  header.header{
    position: fixed;
    top: 0;
    background-color: #5aff7f;
    width: 100%;
    z-index: 100000;
    box-Shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   transform: translateY(0%);
   transition: transform 250ms ease-in-out;
   border-bottom: none;
  
  }
  
  
  
  .ProfileIMG{
    position: absolute;
    right: 5%;
    bottom: 0px;
    width: 500px;
  }
  .bgimageOfsecondimage{
    margin-top: 10px;
    background-image: url("https://drive.google.com/uc?id=1KVxWxufjdtWKvWSq9-byhOEQoOG06sxJ");
    width: 100%;
    height: 550px;
    background-size: 100%;
    background-repeat: no-repeat;
    
  }
.firstImpresion{
  border:1px dotted red;
   width:28%;
    padding:10;
     position:absolute;
     left:20%;
     bottom:30%;
}
.firestImpresionWraper{
  height:550px;
   position:relative;
    background-color:#5aff7f;
}
.navBarforPhone{
  display: none;
}

  @media screen and (max-width:855px) {
    body{
      overflow-x: hidden;
    }
    .navBarforPhone{
      display: block;
      position: sticky;
      top: 0;
      width: 100%;
     
      z-index: 100000;
      
    }
    header{
      display: none;
    }
    .ProfileIMG{
      display: none;
    }

    .firestImpresionWraper{
      height:320px;
       position:relative;
        background-color:#5aff7f;
    }
    .firstImpresion{
      border:1px dotted red;
       width:85%;
        padding:10;
         position:absolute;
         left:5%;
         bottom:20%;
    }
    
    .navPhoneLogo{
      display: flex;
      height: 49px;
      background-color: #5aff7f;
      color: black;
      align-items: center;
      padding-left: 10px;
      font-size: 2rem;
      font-weight: bold;
    }
    .navPhoneMenue{
      display: flex;
      background-color: #4c4c4c;
      height: 49px;
      align-items: center;
      justify-content: end;
      padding-right: 10px;


    }
    .navPhoneBtn{
      height: 35px;
      width: 85px;
      background-color: black;
      color: white;
      border: none;
      outline: none;
      border-radius: 5px;
    }

    .bgimageOfsecondimage{
      margin-top: 5px;
      background-image: url("https://images.pexels.com/photos/1157802/pexels-photo-1157802.jpeg?auto=compress&cs=tinysrgb&w=600");
      width: 100%;
      height: 550px;
      background-size: 100%;
      background-repeat: no-repeat;
      
    }
  .leftTogleMenue{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 30000;
    width: 100%;
    height: 500px;
    background-color:  #4c4c4c;
    
    transition: transform 250ms ease-in-out;
   
  }



  }